body {
    font-family: Verdana;

    background: linear-gradient(180deg, #cfe8ef 0%, #73e3e5 13%, rgba(0,212,255,1) 100%);
    color: white;
}

.form-group {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    background: linear-gradient(360deg, #6369d1 91.1%, rgba(177, 50, 255, 0) 91.11%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.btn {
    background-color: #6369d1;
    font-weight: 100;
}

.table {
    background-color: #cfe8ef;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: black;
    border-top: black;
}

.form-row {
    margin-left: 10px;
}