body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(58,216,216,1) 13%, rgba(0,212,255,1) 100%);
    color: white;
}

.navbar {
    background: linear-gradient(360deg, #AB21FF 91.1%, rgba(177, 50, 255, 0) 91.11%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
    background-color: rgb(186, 71, 221);
    font-weight: 100;
}
